.about {
   background-color: #198073;

   &__wrapper{
      display: flex;
   }
   
   &__image {
      max-width: 691px;
      max-height: 818px;
      margin-right: 142px;
      margin-left: 143px;
   
      position: relative;
      top: 64px;
   }
   
   &__content {
      padding: 90px 0 94px 0;
   }
   
   &__title {
      font-size: 55px;
      line-height: 60px;
      letter-spacing: -1.1px;
      max-width: 600px;
      /*max-height	: 102px;*/
      color: #fff;
      margin-bottom: 48px;

      position: relative;

      &::before {
         content: "";
         background-image: url(/assets/images/Line.png);
         display: block;
         background-repeat: no-repeat;
         height: 13px;
         width: 450px;
         position: absolute;
         bottom: -12px;
         left: 69px;
      }
   }
   
   &__title-span {
      color: #cae941;
      margin-bottom: 69px;
   }
   
   &__list {
      font-family: Muli-Regular;
      font-size: 20px;
      font-style: normal;
      line-height: 42px;
      list-style-image: url(../images/list-point.png);
      max-height: 327px;
      margin-bottom: 64px;
      padding-left: 24px;
   }

   &__item{
      opacity: 0.7;
      padding-left: 12px;
   }
   
   &__span {
      font-family: Muli-Bold;
      font-style: normal;
   }
   
   &__btn {
      opacity: 0.85;
      width: 380px;
      height: 60px;
      padding: 0 29px;

      &:hover {
         transform: scale(1.02);
         color: white;
         -webkit-transform: scale(1.02);
         -moz-transform: scale(1.02);
         -ms-transform: scale(1.02);
         -o-transform: scale(1.02);
}
   }
}