.blog {
	padding: 100px 0 200px 0;

	&__wrapper{
		display: flex;
		justify-content: center;
	}
	
	&__image{
		max-width: 555px;
      width: 100%;
      object-fit: cover;

		position: relative;

		&::after{
			content: "";
			height: 12px;
			width: 690px;
			background: #f7ae3b;
			border-radius: 6px;
			display: block;
			position: absolute;
			right: -590px;
			top: 70px;
			z-index: -1;
			-webkit-border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			-ms-border-radius: 6px;
			-o-border-radius: 6px;
		}
	}

	&__title {
		color: #f7ae3b;
		margin-bottom: 50px;
	}
	
	&__content {
		padding-top: 200px;
		/*display: flex;
		align-items: center;*/
	}
	
	&__img {
		max-width: 555px;
		max-height: 400px;
		margin-right: 60px;
	}
	
	&__text {
		font-size: 18px;
		line-height: 35px;
		color: #000;
		max-width: 539px;
		padding-top: 45px;
		padding-left: 65px;
	
	}
	&__span {
		font-family: Muli-ExtraBold;
		font-style: italic;
	}

	&__btn {
		padding-left: 3px;
		&:hover {
         transform: scale(1.1);
         -webkit-transform: scale(1.1);
         -moz-transform: scale(1.1);
         -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
}
	}
}