.connect {
	width: 25%;
	}

.connect__form {
		margin-bottom: 40px;
}

.connect__input {
	font-family: Muli-Bold;
	font-size: 17px;
	color: #6d450c;
	max-width: 495px;
	height: 60px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	background-color: #fff;
}

.connect__btn{
	display: none;
}

.connect__envelope{
color:#6d450c;
	}

.conect__follow {
	font-family: Muli-ExtraBold;
	font-size: 18px;
	text-transform: uppercase;
	margin-right: 45px;
	color: #6d450c;
	}

.conect__link{
	margin-right: 25px;
	}