.connect {
	width: 25%;

&__form {
		margin-bottom: 40px;
}

&__input {
	font-family: Muli-Bold;
	font-size: 17px;
	color: #6d450c;
	max-width: 495px;
	height: 60px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	background-color: #fff;
}

&__btn{
	display: none;
}

&__envelope{
color:#6d450c;
	}

&__follow {
	font-family: Muli-ExtraBold;
	font-size: 18px;
	text-transform: uppercase;
	margin-right: 45px;
	color: #6d450c;
	}

&__link{
	margin-right: 25px;
	}
}