@media screen and (max-width: 767.98px) {

   .header__burger-btn {
      display: block;
   }

   .header__navigation {
      display: block;
      background-color: #1b915c;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
      padding-top: 100px;
   }

   .menu__list {
      flex-direction: column;
      height: 400px;
      justify-content: space-between;
   }

   .logo__img {
      width: 250px;
   }

   .menu__item {
      margin: 0;
   }

   .menu__link {
      font-size: 1.2rem;
   }

   .header__personal {
      margin-bottom: 120px;
   }
}

@media (max-width: 359.98px) {

}