.products {

   &__wrapper{
      display: flex;
   }
   
   &__item {
   /*width: 25%;*/
   height: 720px;
   
   display: flex;
   flex-direction: column;
   flex-basis: 25%;
   align-items: center;
   }
   
   &__item--chokolate {
      background-color: #672a19;
   }
   
   &__img {
      max-width: 119px;
      max-height: 303px;
      margin-top: 130px;
      margin-bottom: 35px;

      &:hover{
         transform: scale(1.1);
         -webkit-transform: scale(1.1);
         -moz-transform: scale(1.1);
         -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
}
   }
   
   &__title {
      font-family: Muli-Bold;
      line-height: 22px;
   }
   
   &__value {
      font-family: 'Muli-italic';
      margin-bottom: 65px;
   }
   
   &__btn {
      max-width: 204px;
      background-color: transparent;

      &:hover {
         transform: scale(1.05);
         color: white;
         -webkit-transform: scale(1.05);
         -moz-transform: scale(1.05);
         -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
}
   }
   
   &__item--vegan {
      background-color: #198870;
   }
   
   &__item--lemon {
      background-color: #f9af3f;
   }
   
   &__item--turmeric {
      background-color: #c5461b;
   }
}