.testimonials {

   &__wrapper{
      padding-top: 116px;
      padding-bottom: 80px;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #682d18;
   
      position: relative;
      
      &::before {
         content :"";
         background-image: url(/assets/images/Dots.png);
         display: block;
         background-repeat: no-repeat;
         height: 301px;
         width: 410px;
         position: absolute;
         top: -80px;
         right: 58px;
      }

      &::after {
         content :"";
         background-image: url(/assets/images/Sarah-a.png);
         display: block;
         background-repeat: no-repeat;
         height: 148px;
         width: 764px;
         position: absolute;
         top: 250px;
         left: 438px;
      }
   }
   
   &__title {
      margin-bottom: 118px;
      max-width: 708px;
      max-height: 117px;
      color: #f7ae3b;
   }
   
   &__title-span {
      color: #f2612d;
   }
   
   &__slide-box {
      margin-bottom: 145px;
   
      display: flex;
      z-index: 1;
   }
   
   &__text {
      font-size: 18px;
      line-height: 35px;
      max-width: 460px;
      max-height: 130px;
      text-align: center;
   }

   &__text-autor {
      font-size: 18px;
      line-height: 45px;
      color: #f7ae3b;
   }
   
   &__arrow {
      @extend %flexCenter;
      width: 160px;
   }
}