.testimonials {

   &__wrapper{
      padding-top: 120px;
      padding-bottom: 80px;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #682d18;
   
      position: relative;
      
      &::before {
         content :"";
         background-image: url(./assets/images/Dots.png);
         display: block;
         background-repeat: no-repeat;
         height: 301px;
         width: 410px;
         position: absolute;
         right: 58px;
         top: -80px;
      }
   }
   
   &__title {
      margin-bottom: 118px;
      max-width: 708px;
      max-height: 117px;
      color: #f7ae3b;
   }
   
   &__title-span {
      color: #f2612d;
   }
   
   &__slide-box {
      margin-bottom: 145px;
   
      display: flex;
   }
   
   &__text {
      max-width: 455px;
      max-height: 130px;
      text-align: center;
   }
   
   &__btn {
      width: 100px;
      padding: 0;
      background-color: transparent;
      border-color: transparent;
      margin-right: 100px;
      
      display: flex;
      align-items: center;
   }
}