@import './normalize';



//fonts

@font-face {
	font-family: 'Muli-Bold';
	src: url('../fonts/Muli-Bold.ttf');
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: 'Muli-BoldItalic';
	src: url('../fonts/Muli-BoldItalic.ttf');
	font-display: swap;
	
	}

@font-face {
	font-family: 'Muli-ExtraBold';
	src: url('../fonts/Muli-ExtraBold.woff');
	font-display: swap;
}

@font-face {
	font-family: 'Muli-Italic';
	src: url('../fonts/Muli-Italic.ttf');
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Muli-Regular';
	src: url('../fonts/Muli-Regular.woff');
	font-display: swap;
}

@font-face {
	font-family: 'Muli-Semi_BoldItalic';
	src: url('../fonts/Muli-Semi-BoldItalic.ttf');
	font-display: swap;
	font-style: italic;
}

body {
	font-family: Muli-Regular, sans-serif;
	color: #fff;
}

//common (общие)
@import './logo';
@import './components/btn';
@import './components/title';

//header
@import './layout/header';
@import './layout/menu';
@import './personal';
@import './social';

//smoothies
@import './smoothies';

//about
@import './about';

//products
@import './products';

//story
@import './story';

//testimonials
@import './testimonials';
@import './slide-box';
@import './components/text';


//blog
@import './blog';
@import './article';

//instagrem
@import './instagram';

//footer 
@import './layout/footer';
@import './subject';
@import './information';
@import './payment';
@import './connect';

//media
@import './media';