.btn {
   font-family: 'Muli-ExtraBold', sans-serif;
   font-size: 21px;
   width: 240px;
   height: 60px;
   padding:  0 38px;
   border-radius: 35px;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &--green {
      background-color: #0aa566;
      }
   
   &--outline-yellow {
   background-color: transparent;
   border: solid #f8b231 2px;
   }
   
   &--outline-white {
      border: 2px solid #fff;
   }
}