.btn {
   @extend %btn;
   
   &--green {
      background-color: $primaryColor;
      position: relative;
      
      &:hover {
         background-color: #0b925c;
         transform: scale(1.05);
         color: white;
         }
      }
   
   &--outline-yellow {
   background-color: transparent;
   border: solid #f8b231 2px;
   }
   
   &--outline-white {
      border: 2px solid #fff;
   }
}