body{
	background-color: #fff;
}

.conteiner {
	max-width: 1920px;
	margin: 0 auto;
}

a {text-decoration: none;}

.header {
	background-image: url(../images/header-main-img.png);
	background-repeat: no-repeat;
	border-style: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header__content {
	align-self: center;
}

.btn{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.smoothie {

}

.about {
	background-color:#128473;

}

.products {

}

.products__item--chokolate {
	background-color: #632d1a;
}

.products__item--vegan {
	background-color: #198471;
}

.products__item--lemon {
	background-color: #fbaf3a;
}

.products__item--turmeric {
	background-color: #c44618;
}

.story {

}

.testimonials {
	background-color: #65301a;

}

.blog {

}

.instagram {

}

.footer {
	background-color: #f2ac3b;
}

.footer__bottom {
	background-color: #6c2a1f;
}
