@font-face {
	font-family: 'Muli-Bold';
	src: url('../fonts/Muli-Bold.ttf');
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: 'Muli-BoldItalic';
	src: url('../fonts/Muli-BoldItalic.ttf');
	font-display: swap;
	
	}

@font-face {
	font-family: 'Muli-ExtraBold';
	src: url('../fonts/Muli-ExtraBold.woff');
	font-display: swap;
}

@font-face {
	font-family: 'Muli-Italic';
	src: url('../fonts/Muli-Italic.ttf');
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Muli-Regular';
	src: url('../fonts/Muli-Regular.woff');
	font-display: swap;
}

@font-face {
	font-family: 'Muli-Semi_BoldItalic';
	src: url('../fonts/Muli-Semi-BoldItalic.ttf');
	font-display: swap;
	font-style: italic;
}
*{
	border: 1px solid red;
}
body{
	font-family: Muli, sans-serif;
	color: #fff;
	}

	.header {
	background-image: url(../images/header-main-img.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	background-size: cover;

	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	}
	.conteiner {
	}
	.header__top {
		padding: 70px 100px 100px;
		/*width: 100%;*/

		display: flex;
		justify-content: space-between;
		align-items: center;

	}
	.header__menu {
	}
	.menu {
		font-family: Muli-Bold;
		font-style: normal;
		font-size: 16px;
		line-height: 40px;
		
	}
	.menu__list {
		text-transform: uppercase;


		display: flex;
	}
	.menu__item {
	}
	.menu__link {
		color: #fff;
	}
	.header__logo {
	}
	.logo {
	}
	.logo__link {
	}
	.logo__img {
	}
	.header__personal {
		width: 420px;

		display: flex;
		justify-content: space-between;
	}
	.personal {
		margin-right: 45px;
	}
	.personal__list {
		display: flex;
	}
	.personal__list-item {
	}
	.personal__link {
	}
	.personal__icon-search {
	}
	.personal__icon-user {
	}
	.personal__link-cart {
	}
	.personal__cart-icon {
	}
	.personal__cart-count {
		font-family: Muli-Regular;
		font-size: 10px;
		height: 10px;
		width: 10px;
		background-color: #fff;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
}
	.header__social {
	}
	.social {
	}
	.social__list {
		display: flex;
}
	.social__list-item {
		margin-right: 10px;
		height: 35px;
		width: 35px;
		background-color: #fff;
		text-align: center;
		line-height: 2.3;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-ms-border-radius: 25px;
		-o-border-radius: 25px;
	}
	.social__link {
	}
	.social__icon {
	}
	.header__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.btn {
		font-family: Muli-ExtraBold;
		font-style: normal;
		font-size: 21px;
		width: 240px;
		height: 60px;
		padding: 25px 39px 22px;
		box-sizing: border-box;
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		-ms-border-radius: 35px;
		-o-border-radius: 35px;
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;

}
	.header__btn {
		font-size: 24px;
		line-height: 40px;
		height: 70px;
		
	}

	.btn--green{
	background-color: #0aa566;
	}

	.header__arrow {
	}
	.arrow {
	}
	.arrow--yellow {
	}

/*header end*/

	.smoothies {
		font-family: Muli-Regular;
		color: #000;
	}

	.title {
		font-family: Muli-ExtraBold;
		font-style: normal;
		font-size: 50px;
		line-height: 40px;
	}
	.smoothies__title {
		margin-bottom: 55px;
		max-width: 637px;
		max-height: 38px;
		color: #f7ae3b;
	}
	
	.smoothies__text {
		font-size: 18px;
		max-width: 915px;
		max-height: 122px;
		text-align: center;
		}
		
	.text {
	}
	.smoothies__table {
	}
	.smoothies__table-item {
	}
	.smoothie__icon {
	}
	.smoothies__subtitle {
		font-family: Muli-ExtraBold;
		font-style: normal;
		font-size: 25px;
		color: #f2612d;
	}

/*smoothies end*/

	.about {
		background-color: #198073;
	}
	.about__body {
	}
	.about__image {
		max-width: 691px;
		max-height: 691px;
	}
	.about__content {
	}
	.about__title {
		font-size: 55px;
		line-height: 60px;
		margin-bottom: 69px;
		max-width: 588px;
		max-height: 102px;
		color: #fff;
	}

	.about__title-span {
		color: #cae941;
	}
	.about__list {
		font-family: Muli-Regular;
		font-style: normal;
		list-style-image: url(../images/list-point.png);
		max-width: 355px;
		max-height: 327px;
		margin-bottom: 51px;
	}
	.list {
	}
	.about__item {
	}
	.about__span {
		font-family: Muli-Bold;
		font-style: normal;
	}
	.about__btn {
		width: 380px;
		height: 60px;
	}
	.btn--outline-yellow {
		background-color: transparent;
		border-color: #f8b231;
	}
	.about__arrow-btn {
	}

/*about end*/

	.products {
	}
	.products__body {
	}
	.products__item {
		/*max-width: 480px;*/
		max-height: 720px;

	}
	.products__item--chokolate {
		background-color: #672a19;
	}
	.products__img {
		max-width: 119px;
		max-height: 303px;
		
	}
	.product__title {
	}
	.product__value {
		font-family: Muli-Regular;
	}
	.products__btn {
		width: 204px;
		background-color: transparent;
	}
	.btn--outline-white {
		border: 2px solid #fff;
	}
	.products__arrow-btn {
	}
	.products__item--vegan {
		background-color: #198870;
	}
	.products__item--lemon {
		background-color: #f9af3f;
	}
	.products__item--turmeric {
		background-color: #c5461b;
	}


/*products end*/

	.story {
		font-family: Muli-Regular;
		color: #000;
	}
	.story__body {
	}
	.story__content {
	}
	.story__title {
		color: #f7ae3b;
		
	}
	.story__text {
		font-size: 18px;
		line-height: 35px;
		max-width: 493px;
		max-height: 119px;

	}
	.story__btn {
	}
	.btn--green {
	}
	.story__arrow {
	}
	.story__box {
	}
	.story__img {
	}

/*story end*/

	.testimonials {
		background-color: #682d18;
	}
	.testimonials__body {
	}
	.testimonials__title {
		margin-bottom: 118px;
		max-width: 708px;
		max-height: 117px;
		color: #f7ae3b;
		
	}
	.testimonials__title-span {
		color: #f2612d;
	}
	.testimonials__slide-box {
	}
	.testimonials__text {
		max-width: 455px;
		max-height: 130px;
	}
	.text__autor {
		color:#f7ae3b;
	}
	.testimonial__img {
	}
	.testimonials__btn {
	}
	.testimonial__btn {
		background-color: transparent;
		border-color: transparent;
	}
	.btn--arrow-left {
	}
	.testimonial__btn-img {
	}
	.btn--arrow-right {
	}

/*testimonials end*/

	.blog {
	}
	.blog__body {
	}
	.blog__title {
		color: #f7ae3b;

	}
	.blog__content {
	}
	.blog__img {
	}
	.blog__article {
	}
	.article {
	}
	.article__title {
		font-size: 30px;
		color: #f2612d;
	}

	/*font-family: Muli-ExtraBold;
		font-style: normal;
		font-size: 50px;
		line-height: 40px;*/

	.article__date {
		font-size: 18px;
		color: #000;
	}
	.blog__text {
		font-size: 18px;
		line-height: 35px;
		color: #000;
		max-width: 472px;
		max-height: 122px;
	}
	.blog__span {
		font-family: Muli-ExtraBold;
		font-style: italic;
	}
	.blog__btn {
	}

/*blog end*/

	.instagram {
	}
	.instagram__title {
		
	}
	.instagram__btn {
	}
	.instagram__subtitle {
		font-size: 24px;
		margin-bottom: 45px;
		color: #0aa566;
	}
	.instagram__body {
	}
	.instagram__item {
	}
	.instagram__img {
	}

/*instagram end*/

	.footer {
	}
	.footer__top {
		background-color: #f8aa3c;
	}
	.footer__logo {
	}
	.footer__information {
		
	}
	.information {
	}
	.information__subject {
	}
	.subject {
		font-size: 26px;
	}
	.information__list {
		font-family: Muli-Bold;
		font-size: 18px;
		line-height: 35px;
		/*max-width: 159px;*/
		max-height: 122px;
		color: #6d450c;
	}
	.information__item {
	}
	.footer__payment {
	}
	.payment {
	}
	.payment__subject {
	}
	.payment__list {
	}
	.payment__item {
	}
	.payment__img {
	}
	.footer__connect {
	}
	.connect {
	}
	.connect__subject {
	}
	.connect__follow {
	}
	.connect__form {
		width: 495px;
		height: 60px;
		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		-ms-border-radius: 30px;
		-o-border-radius: 30px;
		background-color: #fff;
}
	.connect__input {
		font-family: Muli-Bold;
		font-size: 17px;
		color: #6d450c;
	}
	.connect__envelope{

	}
	.connect__box {
		
	}
	.conect__follow {
		font-family: Muli-ExtraBold;
		font-size: 18px;
		text-transform: uppercase;
		color: #6d450c;
	}
	.footer__social {
	}
	.social__icon--white {
	}
	.footer__bottom {
		background-color: #6d2b20;
	}
	.footer__signature {
		font-family: Muli-Regular;
		font-size: 13px;
	}
	.footer__btn-top {
		font-family: Muli-Bold;
		font-size: 16px;
	}
	.footer__link {
	}
	.footer__link-img {
	}

	/*footer end*/











	/*.menu__link {
		font-family: ;
	}

	.header {
	background-image: url(../images/header-main-img.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	background-size: cover;
	}
.conteiner
.header__content {

}

.header__menu {
		
}

.header__btn {
	height: 60px;
	width: 280px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}



.smoothie {

}
.smoothies__title{
	font-weight: 700;
}
.about {
	background-color:#128473;

}

.products {

}

.products__item--chokolate {
	background-color: #632d1a;
}

.products__item--vegan {
	background-color: #198471;
}

.products__item--lemon {
	background-color: #fbaf3a;
}

.products__item--turmeric {
	background-color: #c44618;
}

.story {

}

.testimonials {
	background-color: #65301a;

}

.blog {

}

.instagram {

}

.footer {
	background-color: #f2ac3b;
}

.footer__bottom {
	background-color: #6c2a1f;
}*/




