.footer {
	background-color: #f8aa3c;

   &__top {
      padding-top: 80px;
   
      display: flex;
   }
   
   &__logo {
      width: 25%;
      /*margin: 0 auto; */
   }
   
   &__information {
      width: 25%;
   }
   
   &__bottom {
      background-color: #6d2b20;
      height: 60px;
   }
      
   &__signature {
      font-family: Muli-Regular;
      font-size: 13px;
   }
      
   &__btn-top {
      font-family: Muli-Bold;
      font-size: 16px;
   }
   
   &__link {
      background-color: #f2662f;
      //border-radius: trandparent;
      width: 50px;
      height: 50px;
      border-radius: 8px;
      bottom: 38px;
      right: 100px;
      position: fixed;
      -webkit-border-radius: trandparent;
      -moz-border-radius: trandparent;
      -ms-border-radius: trandparent;
      -o-border-radius: trandparent;


      &::before {
         content: "";
         background-image: url(/assets/images/arrow-go-top.png);
         display: block;
         height: 25px;
         width: 13px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
}

      &:hover {
         filter: brightness(1.5);
         -webkit-filter: brightness(1.5);
         outline: none;
      }
}

}