.footer {
	background-color: #f8aa3c;

   &__top {
      padding-top: 80px;
   
      display: flex;
   }
   
   &__logo {
      width: 25%;
      /*margin: 0 auto; */
   }
   
   &__information {
      width: 25%;
   }
   
   &__bottom {
      background-color: #6d2b20;
      height: 60px;
   }
      
   &__signature {
      font-family: Muli-Regular;
      font-size: 13px;
   }
      
   &__btn-top {
      font-family: Muli-Bold;
      font-size: 16px;
   }
   
   &__link {
      background-color: #f2662f;
      //background-image: url(./assets/images/arrow-go-top.png);
      width: 50px;
      height: 50px;
      border-radius: 8px;
      bottom: 38px;
      right: 100px;
      position: fixed;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
   }

   &__link-img{
      margin: 0 auto;
   }
}