body{
	
	border-radius: 20%;
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	-ms-border-radius: 20%;
	-o-border-radius: 20%;
}

.header {
	background: no-repeat center/cover url(../assets/images/header-main-img.png);
}

.header__top {}


.header__list {
	color: red
}

.logo {
	/* common styles */
}
.logo__link {}
.logo__img {}

.hader__logo {
	/* размер, расположение именно в header*/
}

.footer__logo {
	/* размер, расположение именно в footer*/
}

.header__social {
	
}

.footer {
	background-color: #fba93a;

}